DATABASE_URL=postgresql://usuario:password@host:5432/base_de_datos
DATABASE_SSL=false
PORT=3001
CHROME_EXECUTABLE_PATH=C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe
VINCULACION_STORAGE_ROOT=D:\backend\backend\storage\vinculacion
